
<h1>Información necesaria</h1>
<p class="mt-1">Esta herramienta es útil para comparar los números de 2 artistas, sugerimos comenzar con Alejandro Fernandez vs. Luis Miguel.<br><br>Estos son los datos que se pueden comparar:</p>
<ul>
    <li>
        <h3>Popularidad</h3>
        <p>Spotify la determina por la cantidad de reproducciones recientes y la interacción de los usuarios, como agregar pistas a listas de reproducción y compartirlas. Esta métrica es dinámica y se ajusta en función de cómo se comparan las reproducciones y el engagement con otras pistas, tanto a nivel global como regional.</p>
    </li>

    <li>
        <h3>Seguidores</h3>
    </li>

    <li>
        <h3>Álbumes publicados</h3>
        <p>Incluyen álbumes completos, EPs, singles y compilaciones.</p>
    </li>

    <li>
        <h3>Canciones publicadas</h3>
        <p>Se consideran también canciones en dónde el artista participó.</p>
    </li>

    <li>
        <h3>Tiempo de reproducción disponible</h3>
        <p>Las horas de música disponibles en Spotify calculadas con base en el total de canciones publicadas</p>
    </li>
</ul>
