@import 'src/scss/vars';
@import 'src/scss/colors';
.item-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid $mediumGray1;
    padding: 0.5rem;
    border-radius: 0.5rem;

    .img-wrapper {
        width: $px-40;
        height: $px-40;
        background-color: $lightGray2;
        border-radius: 0.5rem;
        overflow: hidden;
        margin-right: 1rem;
        flex-shrink: 0;
    }

    .text-placeholder {
        background-color: $lightGray2;
        width: 120px;
        height: 23px;
        border-radius: 0.5rem;
    }
    span {
        font-size: 1rem;
        display: block;
        max-width: 180px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        @media #{$ipad} {font-size: $px-20;}
    }

    button {
        margin-left: 1rem;
        i {
            font-size: $px-20;
        }
    }
}
