<a class="song-wrapper" target="_blank" [href]="track ? track.external_urls.spotify : ''" [ngClass]="{'away': track && track.versusType === 'away'}">
    <div class="song-info">
        <div *ngIf="listNumber" class="number-song">{{ getNumber() }}</div>
        <div class="img-album">
            <img *ngIf="track" [src]="track.album.images[0].url" alt="">
        </div>
        <div *ngIf="track" class="song-data">
            <p class="name-song">{{ track.name }}</p>
            <p class="artist-album show-on-mobile show-on-mobile-flex">
                <span *ngFor="let artist of track.artists">{{ artist.name }}</span>
            </p>
        </div>
    </div>
    <button *ngIf="track" class="spotify-link"><span>Ver en Spotify</span><i class="fas fa-caret-right"></i></button>
</a>
