.main-select {
    transition: all .2s;

    &.with-flag {
        padding-left: 64px;

        img {
            width: auto;
            height: 27px;
            position: absolute;
            top: 1rem;
            left: 1rem;
            z-index: 10;
        }
    }
}
