<div class="card-columns my-5">
  <div (click)="verArtista( item )" *ngFor="let item of items" class="card puntero">
    <img class="card-img-top" [src]="item.images | noImage" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p *ngIf="item['artists']" class="card-text">
        <span *ngFor="let artist of item['artists']" class="badge badge-dark">{{artist.name}}</span>
      </p>
      <p *ngIf="item['genres']" class="card-text">
          <span *ngFor="let genre of item['genres']" class="badge badge-secondary">{{genre}}</span>
        </p>
    </div>
  </div>
</div>