@import 'src/scss/vars';
@import 'src/scss/colors';
.item-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media #{$ipad} {
        padding: 1rem;
        background: $lightGray1;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }

    .img-wrapper {
        width: $px-48;
        height: $px-48;
        background-color: $lightGray1;
        border-radius: 0.5rem;
        overflow: hidden;
        margin-right: 1rem;
        flex-shrink: 0;
    }
    span {
        font-size: 1.5rem;
        @media #{$ipad} {font-size: $px-20;}
    }

    button {
        margin-left: 1rem;
        i {
            font-size: $px-20;
        }
    }
}
