<div class="content-wrapper">
    <div class="header-section">
        <div class="title-section">
            <app-main-title title="Inicio" icon="house-heart"></app-main-title>
            <p>Hola mundo :)</p>
        </div>
    </div>
    <div class="content-section">
        <img class="show-on-mobile" src="assets/mobile-img.png" alt="">
        <div class="description">
            <h2>¿De qué va el proyecto?</h2>
            <p class="mt-1 textbox">Siguiendo los líneamientos de la prueba solicitada para la posición de <b>Front End
                    en Dinametra</b> he realizado 2 vistas principales para interactuar con la información que ofrece
                Spotify.<br><br>Las herramientas utilizadas son: </p>
                <ul>
                    <li>Angular 14+</li>
                    <li>chart.js</li>
                </ul>
            <h3 class="mt-1">Vistas</h3>
            <ol class="mt-1">
                <li><a routerLink="/duelo-de-numeros">Duelo de números</a><br>
                    <p class="textbox">Una vista dónde puedes comparar los números de dos artistas. Sugerimos comenzar con Alejandro Fernández vs. Luis Miguel</p>
                </li>
                <li><a routerLink="/analisis-de-tracks">Análisis de tracks</a>
                    <p class="textbox">Spotify ofrece el análisis de ciertas carácterísticas de cada uno de sus tracks, en términos de sonoridad, volumen, bailabilidad, etc. En esta vista, podemos analizar colecciones de tracks al mismo tiempo y conocer la relación que existe entre estas peculiares características. Quiero sugerir el análisis de las listas Top de Spotify.</p>
                </li>
            </ol>
            <p class="textbox">Muchas gracias por llegar hasta aquí, ¡espero que disfrutes tu estancia!</p>
        </div>
        <img class="show-on-desktop" src="assets/desktop-img.png" alt="">
    </div>
</div>
