<div class="content-wrapper">
    <div class="header-section">
        <div class="title-section">
            <app-main-title title="Inicio" icon="house-heart"></app-main-title>
            <p>Hola mundo :)</p>
        </div>
    </div>
    <div class="content-section">
        <img class="show-on-mobile" src="assets/mobile-img.png" alt="">
        <div class="description">
            <h2>¿De qué va el proyecto?</h2>
            <p class="mt-1 textbox">Siguiendo los líneamientos de la prueba solicitada para la posición de <b>Front End
                    en Dinametra</b> he realizado 2 vistas principales para interactuar con la información que ofrece
                Spotify.<br>Me es importante resaltar que no utilicé ninguna librería adicional al framework
                <em>Angular</em> y <em>chart.js</em> (unicamente implementada en "¿Por qué es popular?")</p>
            <h3 class="mt-1">Vistas</h3>
            <ol class="mt-1">
                <li><a routerLink="/duelo-de-numeros">Duelo de números</a><br>
                    <p class="textbox">Una vista dónde puedes comparar los números de los artistas.</p>
                </li>
                <li><a routerLink="/por-que-es-popular">¿Por qué es popular?</a>
                    <p class="textbox">Una vista para analizar playlist o álbumes y comparar el contenido de sus
                        canciones en términos que proporciona Spotify como 'bailabilidad', 'volumen', 'acústica', etc,
                        todas relacionadas con la popularidad. En esta vista se implementó <em>chart.js</em> para
                        realizar las gráficas.</p>
                </li>
            </ol>
            <p class="textbox">Muchas gracias por llegar hasta aquí, ¡espero que disfrutes tu estancia!</p>
        </div>
        <img class="show-on-desktop" src="assets/desktop-img.png" alt="">
    </div>
</div>
