@import 'src/scss/colors';
@import 'src/scss/vars';


.headers-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 10;

    app-search-header {
        display: block;
        width: 50%;
        &.searching {
            width: calc(50% - 2rem);
            @media #{$ipad} {
                width: calc(50% - 0.5rem);
            }
        }
    }
}

.comparision-wrapper {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.playlist-section {
    padding: 1rem;
    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
    .playlist-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: $mediumGray1;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
