<div class="content-wrapper">
    <div class="header-section">
        <div class="title-section">
            <app-main-title title="Duelo de números" icon="swords"></app-main-title>
            <p *ngIf="!artistHome || !artistAway" class="">Elige <b>dos artistas distintos</b> para comparar sus números, ¡veamos quién es más popular!</p>
            <p *ngIf="artistHome && artistAway" class="">Datos para el mercado mexicano (MX)</p>
        </div>
    </div>
    <p></p>
    <div class="headers-wrapper">
        <app-search-header [ngClass]="{'searching': !artistHome}" (artistSelected)="artistHome = $event; getAlbums();" (clearArtist)="clearData('home');"></app-search-header>
        <app-search-header [ngClass]="{'searching': !artistAway}" (artistSelected)="artistAway = $event; getAlbums();" (clearArtist)="clearData('away');" [isHome]="false"></app-search-header>
    </div>
    <div *ngIf="artistHome && artistAway && albumsHome && albumsAway" class="comparision-wrapper">
        <app-bars-data [artistHome]="artistHome" [artistAway]="artistAway" [albumsHome]="albumsHome" [albumsAway]="albumsAway"></app-bars-data>
        <div class="playlist-section show-on-desktop">
            <h2>Top 10</h2>
            <div class="playlist-wrapper">
                <app-songs-playlist [artistId]="artistHome.id"></app-songs-playlist>
                <app-songs-playlist [artistId]="artistAway.id"></app-songs-playlist>
            </div>
        </div>
    </div>
</div>
