@import 'src/scss/colors';

.main-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    button {
        margin-left: 1rem;
        margin-top: 11px;
        i {
            font-size: 1.5rem;
            color: $mediumGray2;
            transition: all .2s;
        }
        &:hover i {
            color: $black;
        }
    }
}

h1, i {
    color: $mainColor;
}

i {
    margin-right: 1rem;
}
