@import 'src/scss/colors';
@import 'src/scss/vars';

input {
    background-color: $lightGray1;
    border: 0;
    padding: 2rem;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    z-index: 2;
    position: relative;
    font-weight: bold;
    &:focus {
        background-color: $lightGray1;
    }
    @media #{$ipad} {
        font-size: 1rem;
        padding: 1rem 0.5rem;
    }
}

.artist-suggestions {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 530px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 1;
    position: relative;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 1rem;
    @media #{$ipad} {
        width: calc(100vw - 2rem);
        margin-top: 0.5rem;
    }

    &.away {
        @media #{$ipad} {
            margin-left: calc(-50vw + 0.5rem);
        }
    }

    button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        transition: all .2s;
        &:hover {
            background-color: $lightGray2;
        }
        .img-wrapper {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            overflow: hidden;
            background-color: $lightGray1;
            margin-right: 0.5rem;
        }
        span {
            font-size: 1rem;
        }
    }
}
