<div class="main-sidebar">
    <a class="logo-sidebar" href="/">
        <img src="assets/logo.png" alt="">
    </a>
    <div class="menu-sidebar">
        <app-option-sidebar icon="house-heart" title="Inicio"></app-option-sidebar>
        <app-option-sidebar icon="swords" title="Duelo de números" link="duelo-de-numeros"></app-option-sidebar>
        <app-option-sidebar icon="chart-scatter" title="Análisis de tracks" link="analisis-de-tracks"></app-option-sidebar>
    </div>
    <p class="textbox">Este sitio no es desarrollado por Spotify AB. Los datos publicados en este sitio web sí pertenecen a la base de datos de Spotify AB proveídos a través de su API pública. Este sitio web no tiene los derechos de ninguna de las marcas que aquí se presentan.</p>
</div>
