<div class="search-wrapper">
    <input #searchBox (input)="search(searchBox.value)" class="main-input" placeholder="Busca un álbum o una playlist, también puedes pegar una url de álbum o playlist" (blur)="onBlur()"/>
    <div class="results" *ngIf="albums.length > 0 || playlists.length > 0">
        <div class="tabs">
            <button [ngClass]="{'active': tabActive === 'playlist'}" (click)="tabActive = 'playlist'">Playlists</button>
            <button [ngClass]="{'active': tabActive === 'album'}" (click)="tabActive = 'album'">Albumes</button>
        </div>
        <div *ngIf="playlists.length > 0" class="section playlists" [ngClass]="{'active': tabActive === 'playlist'}">
            <button *ngFor="let item of playlists" (click)="selectItem(item)">
                <div class="img-wrapper">
                    <img [src]="item.images[0].url" alt="">
                </div>
                <span>{{ item.name }}</span>
            </button>
        </div>
        <div *ngIf="albums.length > 0" class="section albums" [ngClass]="{'active': tabActive === 'album'}">
            <button *ngFor="let item of albums" (click)="selectItem(item)">
                <div class="img-wrapper">
                    <img [src]="item.images[0].url" alt="">
                </div>
                <span>{{ item.name }}</span>
            </button>
        </div>
    </div>
</div>
