
$green: #1DB955;
$red: #EB5B72;
$blue: #364FFB;

$lightGray1: #F7F7F7;
$lightGray2: #F0F0F0;
$lightGray3: #e7e7e7;
$mediumGray1: #DDDDDD;
$mediumGray2: #BABABA;
$mediumGray3: #A7A7A7;
$mediumGray4: #6A6A6A;
$darkGray1: #1E1E1E;
$darkGray2: #121212;
$darkGray3: #000000;

$black: $darkGray2;

$mainColor: $green;
$secondColor: $black;
$errorColor: $red;
$infoColor: $mainColor;
