input, select, textarea {
	font-size: 1rem;
	font-family: $mainFont;
}

.main-select {
    height: 59px;
    width: 100%;
    position: relative;

    &.icon {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .icon-wrapper {
            position: relative;
            width: 45px;
            flex-shrink: 0;
            z-index: 2;
            border-right: 1px solid darken($lightGray1, 5%);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        border: 0;
        padding: 0;
        margin: 0;
        background-color: transparent;
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        padding-right: 2.5rem;
        position: relative;
        z-index: 2;

        &[disabled] {
            color: $mediumGray1;
            background-color: $lightGray1;
        }

        &:focus {
            outline: none;
            & + div {
                background-color: white;
				border-color: transparent;
                box-shadow: 0px 0px 6px rgba($mainColor, 0.5);
            }
        }

        &.ng-invalid.ng-touched {
            &:focus {
                & + div {
                    box-shadow: 0px 0px 6px rgba($errorColor, 0.5);
                }
            }
            & + div {
                border: 1px solid $errorColor;
            }
            & ~ span.error {
                display: block;
				top: -32px;
            }
        }
    }

    &:before {
        font-family: 'Font Awesome 6 Pro'; font-weight: 600; content: '\f0d7';
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        z-index: 2;
        color: $mainColor;
    }

    & > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 4px;
        background-color: $lightGray2;
		border: 1px solid transparent;
		transition: all .2s;
    }

    &.white-select {
        & > div {
            background-color: white;
        }
    }
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &.input-icon {
        position: relative;

        &.icon-right {
            .main-input {
                padding-right: 41px;
            }
            i {
                right: 0;
            }
            &.border {
                padding-right: calc(41px + 1rem);
                i {
                    border-left: 1px solid $mediumGray1;
                }
            }
        }
        &.icon-left {
            .main-input {
                padding-left: 41px;
            }
            i {
                left: 0;
            }
            &.border {
                padding-left: calc(41px + 1rem);
                i {
                    border-right: 1px solid $mediumGray1;
                }
            }
        }
        i {
            width: 41px;
            height: 41px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
        }
    }

    label {
        margin-bottom: 0.5rem;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        span.info-text {
            color: $mediumGray1;
            font-weight: normal;
            font-size: 12px;
            margin-left: auto;
            margin-top: auto;
            display: block;
        }
    }
    &.slim {
        .main-input {
            padding: 8px 1rem;
        }
        &.input-icon {
            i {
                width: 35px;
                height: 35px;
            }
        }
    }
}

textarea.main-input {
    resize: none;
    display: block;
    height: 120px;
    border-radius: 22px;
    &:disabled {
        color: $mediumGray1;
    }
}

.main-input {
    border: 0;
    background-color: $lightGray1;
    padding: 1rem 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    transition: all .2s;
    border: 1px solid $mediumGray1;
    appearance: none;

    &.slim {
        padding: 8px 1rem;
    }

    &.no-border {
        border: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &[type=number] {
        -moz-appearance: textfield;
    }

    &:focus {
        outline: none;
        box-shadow: 0px 0px 6px rgba($mainColor, 0.5);
        background-color: white;
		border-color: transparent;
    }

    &.ng-invalid.ng-touched:not(.not-error) {
        border: 1px solid $errorColor;
        &:focus {
            box-shadow: 0px 0px 6px rgba($errorColor, 1);
        }
        & + span.error {
            display: block;
        }
    }

    &::placeholder {
        color: $mediumGray3;
    }

    &:disabled {
        color: $mediumGray1;
    }
}

.input-wrapper.two-options-wrapper {
    .options-wrapper {
        display: flex;
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        input {
            display: none;
            &:checked + label {
                background-color: $mainColor;
                color: white;
            }
        }
        label {
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            background-color: $lightGray1;
            font-weight: normal;
            margin: 0;
            transition: all .2s;
            cursor: pointer;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
        }
    }
}

.main-checkbox {
    input {
        display: none;
        &:checked + label {
            color: $mainColor;
            &:before {
                content: '\f14a';
                color: $mainColor;
                font-weight: bold;
                animation: checkedAnimation .2s;
            }
        }
        &:disabled + label {
            color: $mediumGray1;
            &:before {
                color: $mediumGray2;
                font-weight: 600;
            }
        }
    }
    label {
        font-weight: normal;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        cursor: pointer;
        color: $mediumGray2;
        &:before {
            display: block;
            content: '\f0c8';
            font-family: 'Font Awesome 6 Pro';
            font-weight: 100;
            margin-right: 0.5rem;
            font-size: 1.2rem;
        }
    }
}

.main-switch {
    margin-bottom: 0.5rem;
    &.mb-1 {
        margin-bottom: 1rem;
    }
    input {
        display: none;
        & + label {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            span {
                display: block;
                flex-shrink: 0;
                white-space: nowrap;
                &.big-switch {
                    font-size: 1.25rem;
                    font-weight: bold;
                }
            }
            .switch {
                width: 42px;
                height: 22px;
                border-radius: 100000px;
                background-color: $lightGray1;
                position: relative;
                transition: all .2s;
                flex-shrink: 0;
                &:after {
                    content: '';
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    background-color: white;
                    top: 2px;
                    left: 2px;
                    border-radius: 50%;
                    transition: all .2s;
                }
            }
        }
        &:checked + label {
            .switch {
                background-color: $mainColor;
                &:after {
                    left: 22px;
                }
            }
        }
    }
}

.main-input-radio {
    display: none;
    & + label {
        cursor: pointer;
        .input {
            width: 20px;
            height: 20px;
            border: 1px solid $mediumGray2;
            border-radius: 50%;
            position: relative;
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                content: '';
                background-color: $mainColor;
                width: 0;
                height: 0;
                border-radius: 50%;
                transition: all .2s;
            }
        }
    }
    &:checked + label {
        .input {
            border-color: $mainColor;
            &:before {
                width: calc(100% - 8px);
                height: calc(100% - 8px);
            }
        }
    }
}

.input-wrapper {
    position: relative;
    span.error {
        font-size: 1rem;
        position: absolute;
        top: 0px;
        right: 0;
        color: $errorColor;
        font-weight: normal;
        display: none;
		* {
			color: $errorColor;
		}

    }

	.over-icon {
		width: 59px;
		height: 59px;
		position: absolute;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $mediumGray2;
		* {
			color: $mediumGray2;
		}
		&-first {
			left: 0;
			border-right: 1px solid $mediumGray1;
			& ~ .main-input {
				padding-left: calc(59px + 1rem);
			}
		}
		&-last {
			right: 0;
			border-left: 1px solid $mediumGray1;
			& ~ .main-input {
				padding-right: calc(59px + 1rem);
			}
		}
	}
}

input, select, textarea {
    font-size: 1rem;
}


.inputs-wrapper {
	display: grid;
	gap: 1rem;
	&-2 {
		grid-template-columns: 1fr 1fr;
	}
	&-3 {
		grid-template-columns: 1fr 1fr 1fr;
	}
	&-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	@media #{$ipad} {
		grid-template-columns: 1fr;
	}
}

@keyframes checkedAnimation {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
