@mixin selection-disabled {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin hide-scroll {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
