$macbook: "only screen and (max-width: 1280px)";
$ipad: "only screen and (max-width: 800px)";
$iphone: "only screen and (max-width: 700px)";
$ipadNot: "only screen and (min-width: 1012px)";
$wideScreen: "only screen and (min-width: 1280px)";
$height: "only screen and (min-width: 1900px) and (max-height: 970px)";
$lowHeight: "only screen and (max-height: 680px) and (max-width: 768px)";

$thinWeight: 100;
$ultraLightWeight: 200;
$extraLightWeight: 200;
$lightWeight: 300;
$normalWeight: 400;
$regularWeight: 400;
$mediumWeight: 500;
$semiBoldWeight: 600;
$boldWeight: 700;
$extraBoldWeight: 800;
$ultraBoldWeight: 800;
$blackWeight: 900;
$heavyWeight: 900;
$extraBlackWeight: 950;
$ultraBlackWeight: 950;

$px-4: 0.25rem;
$px-8: 0.5rem;
$px-12: 0.75rem;
$px-16: 1rem;
$px-18: 1.125rem;
$px-20: 1.25rem;
$px-24: 1.5rem;
$px-28: 1.75rem;
$px-32: 2rem;
$px-34: 2.125rem;
$px-36: 2.25rem;
$px-38: 2.375rem;
$px-40: 2.5rem;
$px-42: 2.625rem;
$px-44: 2.75rem;
$px-46: 2.875rem;
$px-48: 3rem;
$px-50: 3.125rem;
$px-52: 3.25rem;
$px-54: 3.375rem;
$px-56: 3.5rem;
$px-58: 3.625rem;
$px-60: 3.75rem;
$px-62: 3.875rem;
$px-64: 4rem;

$mainFont: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;

$iconFont: 'Font Awesome 6 Pro';
